#contracts-group{
    margin-top: 8rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 20rem;
}
.contract{
    position: relative;
    margin-right: 2rem;
    width: 15rem;
    height: 28.5rem;
    border: 1px solid var(--orange);
    border-radius: 0.5rem;
}
.box-contract-quant{
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 0.5rem 0.5rem 0 0;

    padding: 1rem;

    margin-bottom: 1rem;
}
.box-contract-quant h1{
    margin: 0;
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    
}
.bgclean{
    height: 7rem;
}
.bgimage{
    background-image: url('../assets/watch_paramount_hbo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;

}
.bgimage2{
    background-image: url('../assets/watch_paramount.svg');
    background-repeat: no-repeat;
    background-position: center;
}

ul{
    padding: 0 0 0 2rem;
}
ul li{
    list-style: none;
    margin-top: 0.5rem;
    text-align: left;
}
.valour{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.valour .price{
    font-size:1.5rem;
    margin-top: 0.5rem;
}

.contracts button:hover{
    filter: brightness(80%);
}
