:root{
  --orange:#FF4900;
  --orange-dark-01:#e74300;
  --blue-button-carousel: #1c15a8;
  --bg-grey-01:#EFEFEF;
  --white:#FFF;
  
}

*{
  margin:0;
  padding:0;

  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
